Body {
	background-color: #F2EAE4;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 100px;
}

.bloc {
	background-color: white;
	width: 250px;
	height: 410px;
	border-radius: 0px 10px 10px 0px;
	padding-left: 20px;
	padding-top: 15px;
	line-height: 25px;
}

.img2{
	height: 15px;
	width: 15px;
	margin: 10px;
}

#bloc2 {
	background-color: #538872;
	width: 220px;
	height: 45px;
	border-radius: 10px 10px 10px 10px;
	display: flex;
	justify-content:center;
	align-items: center;
	line-height: 25px;
}

#conteneur{
	display: flex;
}

#textes {
	display: inline-flex;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'MontserratBold';
	src: url(Montserrat-Bold.ttf);
}

@font-face {
	font-family: 'Fraunces';
	src: url('Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf');
}

@font-face {
	font-family: 'FrauncesBold';
	src:  url(Fraunces_48pt-Bold.ttf);
}

p {
	line-height: 23px;
}

h1{
	letter-spacing: 5px;
}

h2{
	letter-spacing: 1px;
}

h3 {
	font-size: 25px;
	color: #538872;
}

h4 {
	font-family: 'Fraunces';
	text-decoration: line-through;
	margin-left: 25px;
	margin-top: 25px;
}

h5 {
	font-family: 'MontserratBold';
	color: white;
	margin: auto;
}

img {
	width: 283px;
	border-radius: 10px 0px 0px 10px;
}

p, h1{
	font-family: 'Montserrat';
}

p, h1, h4 {
	font-size: 14px;
	color: #929395;
}

h2, h3 {
	font-family: 'FrauncesBold';
}